body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #424242;
    color: #c7c7c7;
}

/*menu de navegacion derecha*/
.sidenav {
    height: 100%;
    width: 3.8rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

.sidenav a {
    /* padding: 8px 8px 8px 2rem; */
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .showMenu {
    /* position: absolute; */
    top: 0px;
    right: 1px;
    font-size: 30px;
    color: rgb(50, 106, 134);
    background-color: rgb(45, 45, 45);
    padding: 5px 20px 5px 20px;
}

.sidenav .menuOPtions {
    color: rgb(185, 185, 185);
    margin: 5px;
    width: 200px;
    padding: 1rem;
    display: table-caption;
}

#main {
    transition: margin-left .5s;
    margin-left: 60px;
}

#content {
    padding: 16px;
}

#title-bar {
    -webkit-app-region: drag;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    background-color: #03a9f4;
    padding: none;
    margin: 0 auto;
    position: relative;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

#min-btn, #max-btn, #close-btn {
    background-color: #03a9f4;
    position: relative;
    float: left;
    border: none;
    right: 8px;
    left: 6px;
    color: white;
    padding: 8px 18px 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#min-btn:hover, #max-btn:hover{
    background-color: rgb(76, 188, 239);
    color: white;
    transition: 0.5s;
}
#close-btn:hover {
    background-color: rgb(214, 64, 64); /* Green */
    color: white;
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
}